name: Check

on: [push, pull_request]

jobs:
  Coverage:
    # look at https://github.com/eddyxu/cpp-coveralls
    runs-on: ubuntu-20.04
    env:
      COVERALLS_GIT_BRANCH: "${{ github.ref }}"
      COVERALLS_REPO_TOKEN: "${{ secrets.COVERALLS_TOKEN }}"
      WITH_LUA_ENGINE: LuaJIT
      LUA: luajit2.1
      LUAROCKS: 3.8.0
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: cpp-coveralls
      run: pip install cpp-coveralls PyYAML
    - name: depends
      run: sudo apt update && sudo apt install -y libuv1-dev
    - name: run
      run: |
        .github/shell/setup_lua.sh
        export PATH=$HOME/.usr/bin:$PATH
        $HOME/.usr/bin/luarocks install luv
        ln -s $HOME/.usr/lib/lua/5.1/luv.so
        export PKG_CONFIG_PATH=$HOME/.usr/lib/pkgconfig
        make coveralls
        coveralls -b . -i src --gcov-options '\-lp'

  Valgrind:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: depends
      run: sudo apt update && sudo apt install -y luajit libluajit-5.1-dev valgrind
    - name: run
      run: make valgrind

  clang-asan:
    runs-on: ubuntu-latest
    env:
      ASAN_OPTIONS: detect_leaks=1:check_initialization_order=1
      UBSAN_OPTIONS: print_stacktrace=1
      CC: clang
      CXX: clang++
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: depends
      run: sudo apt update && sudo apt install -y luajit libluajit-5.1-dev
    - name: Test
      run: make asan

  clang-tsan:
    runs-on: ubuntu-20.04
    env:
      CC: clang
      CXX: clang++
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: depends
      run: sudo apt update && sudo apt install -y luajit libluajit-5.1-dev
    - name: Test
      run: make tsan
