*.so
*.so.*
*.pem
*.vscode
*.log
*.pid
*.old
*.o
*.lo
*.record
*record

examples/*/make

test/make

3rd/perl/.config
3rd/perl/Makefile
3rd/perl/cflags
3rd/perl/config.h
3rd/perl/config.sh
3rd/perl/makedepend
3rd/perl/makedepend_file
3rd/perl/myconfig
3rd/perl/Policy.sh
3rd/perl/runtests
3rd/perl/pod/Makefile

3rd/zlib/example
3rd/zlib/examplesh
3rd/zlib/example64
3rd/zlib/Makefile
3rd/zlib/minigzip
3rd/zlib/minigzipsh
3rd/zlib/minigzip64
3rd/zlib/zconf.h
3rd/zlib/zlib.pc

3rd/zlib/zlib.a

3rd/zlib/libz.a
