name: test

on:
  pull_request:
    paths-ignore:
      - '**/*.md'
  push:
    branches:
    - main
    paths-ignore:
      - '**/*.md'

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        luaVersion: [ "5.2", "5.3", "5.4", "luajit-2.1.0-beta3", "luajit-openresty" ]

    steps:
      - name: checkout source code
        uses: actions/checkout@v3

      - name: install Lua/LuaJIT
        uses: leafo/gh-actions-lua@v8
        with:
          luaVersion: ${{ matrix.luaVersion }}

      - name: install LuaRocks
        uses: leafo/gh-actions-luarocks@v4

      - name: install dependencies
        run: |
          luarocks install busted
          luarocks install luacov-coveralls

      - name: build
        run: |
          make install

      - name: run tests
        run: |
          make test-coverage

      - name: samples
        run: |
          lua samples/1-sample.lua

      - name: report test coverage
        if: success()
        continue-on-error: true
        run: luacov-coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ github.token }}

      - name: benchmark
        run: |
          make bench CMD=lua