# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#MSVC
msvc/

#ldoc
doc

#lake deps
*.d

#misc
*.orgi

#coverage
*.gc*

#devel temp
oscca/
tmp/
/src/custom.c
/src/custom.h
.nvimrc
openssl.*
